
<%= render "components/navbar" %>
<%= render "components/search_bar" %>
<div class="container py-3 ">
  <div class="my-4">
    <% @posts.each do |post| %>
      <div class="my-5 mb-5">
        <%= link_to post_path(post.n.id) do%>
          <h2 class="text-dark"><%=  truncate(post.n.properties[:title], :length => 100)%></h2>
          <p class="list-group-item-text text-secondary pb-3"><%= truncate(post.n.properties[:content], :length => 250) %></p>
        <% end %>
        <hr />
      </div>
    <% end %>
  </d>
</div>
