
<%= render "components/navbar" %>
<%= render "components/search_bar" %>
<div class="container py-3 ">
  <div class="my-4">
    <% @posts.each do |post| %>
      <div class="my-5 mb-5">
        <%= link_to post_path(post.n.id) do%>
          <h2 class="text-dark"><%=  truncate(post.n.properties[:title], :length => 100)%></h2>
          <p class="list-group-item-text text-secondary pb-3"><%= truncate(post.n.properties[:content], :length => 250) %></p>
        <% end %>
        <hr />
      </div>
    <% end %>
  </div>
  <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><%= link_to "1", posts_path(page: 1), class: "page-link" %></li>
    <li class="page-item"><%= link_to "2", posts_path(page: 2), class: "page-link" %></li>
    <li class="page-item"><%= link_to "3", posts_path(page: 3), class: "page-link" %></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
</div>
