<%= render "components/navbar" %>
<div class="container my-4 pb-5">
  <h1 class="display-4 my-5"><%= @post.n.properties[:title]  %></h1>
  <p class="text-secondary" >
    Originally posted on:
    <a href="<%= @post.n.properties[:url]%>" target="_blank">
      <%= @post.n.properties[:url]  %>
    </a>
  <p>
  <p class="lead modal-title py-4"><%= @post.n.properties[:content]  %></p>
</div>
