
<%= render "components/navbar" %>
<div class="container w-50">
  <h2 class="my-5">All topics</h2>
  <% @categories.each do |category| %>
    <%= link_to category_path(category.name) do%>
      <h3><%= category.name %></h3>
    <% end %>
      <% if @user_category_ids.include?(category.id) %>
        <%= form_for category, method: :post, url: unsubscribe_user_category_path  do |form| %>
          <%= form.text_field :name, value: category.name, type: "hidden" %>
          <%= form.submit "unsubcribe", class: "btn btn-danger" %>
        <% end %>
      <% else %>
        <%= form_for category, method: :post, url: subscribe_user_category_path  do |form| %>
          <%= form.text_field :name, value: category.name, type: "hidden" %>
          <%= form.submit "subscribe", class: "btn btn-success" %>
        <% end %>
      <% end %>
      <hr />

  <% end %>
</div>
