<%= render "components/navbar" %>
<%= render "components/search_bar" %>
<div class="container">
<h1>Topic: <%= @category.name %></h1>
<% if current_user.is_subscribed(@category) %>
  <%= form_for @category, method: :post, url: unsubscribe_user_category_path  do |form| %>
    <%= form.text_field :name, value: @category.name, type: "hidden" %>
    <%= form.submit "remove" %>
  <% end %>
<% else %>
  <%= form_for @category, method: :post, url: subscribe_user_category_path  do |form| %>
    <%= form.text_field :name, value: @category.name, type: "hidden" %>
    <%= form.submit "add" %>
  <% end %>
<% end %>
<% @posts.each do |post| %>

  <%= link_to post_path(post.n.id) do%>
    <h3><%= post.n.properties[:title] %></h3>
    <p class="list-group-item-text col-md-12 color-black"><%= truncate(post.n.properties[:content], :length => 250) %></p>
  <% end %>
  <hr />
<% end %>
</div>
