<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KnowtifyWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://use.fontawesome.com/releases/v5.0.1/js/all.js", 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
    <div class="container ">
      <div class="container w-100 py-4 position-absolute mt-5">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-warning w-100 text-center" role="alert">
            <%= value %>
          </div>
        <% end %>
      </div>
    </div>
    <%end %>
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy Knowtify Team</span>
      </div>
    </footer>
  </body>

</html>
